    <div class="fourth-content">
        <div class="card-animation-container row">
            <div class="fourth-title col-md-12 col-sm-12 col-lg-6">
                <h1 class="h1">Watch everywhere.</h1>
                <p class="p col-12">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
            </div>
    
    
            <div class="vedio-main-layer col-md-12 col-sm-12 col-lg-6">
                <div class="video-img-layer">
                    <img alt="" class="img-layer" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png" data-uia="our-story-card-img">
                
                <div class="TV-show">
                    <video class="card-video" data-uia="our-story-card-video" autoplay playsinline muted loop><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
                
        </div>
    
    </div>