<div class="first-row">
    <div class="first-main-img container-fluid">
        <div class="first-total-items">

        <div class="nav">
            <div class="main-logo">
                <div></div>
            </div>
        

        <div class="first-buttons">
            <div class="dropdown">
                <button class="btn lan-btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-globe"></i>English
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">தமிழ்</a></li>
                </ul>
            </div>
            <div class="signin-btn">
                <button class="signin">Sign In</button>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="text-center title-class">
        <h1 class="title">Unlimited movies, TV<br> shows and more.</h1>
        <p class="sub-heading">Watch anywhere. Cancel anytime.</p>
        <div class="text-center second">
            <p class="sub-2">Ready to watch? Enter your email to create or restart your membership.</p>
                
                
        </div>
        
    </div>
</div>

<div class="container">
<div class="row">

    <div class="input-div col-sm-12 col-md-12 col-lg-8">
        <input type="text" class="input" placeholder="Email address">
    </div>
    
    <div class="search-div col-sm-12 col-md-3 col-lg-4">
        <button class="search-button">Get Started <i class="bi bi-chevron-right"></i></button>
    </div>
    

</div>
</div>
    </div>

    </div>
</div> 