<div class="third-content">
    <div class="grid-system row">
    <div class="video-total-div col-sm-12  col-md-6 col-lg-6 order-md-2 order-sm-2 order-lg-1">
        <div class="first-main-img">
            <div class="second-box">
                <div class="first-img"></div>
                <div class="text">
                    <span>Stanger Thing</span>
                    <p>Downloading...</p>
                </div>
                <div class="svg"></div>
            </div>
        </div>
    </div>

    <div class="text-content col-sm-12 col-md-6 col-lg-6 order-md-1 order-sm-1 order-lg-2">
        <span class="heading">Download your shows to watch offline.</span>
        <p class="para">Save your favourites easily and always have something to watch.</p>
    </div>

</div>
</div>
